[client]
port = 3306
#socket = /tmp/mysql.sock
default-character-set=utf8
[mysql]
default_character_set = utf8
[mysqld]
sql_mode=""
character-set-server=utf8
innodb_buffer_pool_size = 10M
general_log=ON #クエリログが有効
general_log_file=/var/log/mysql/query.log #ログファイルのパース

